In [84]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [13]:
gender_path = 'F:/Know_I/DataAndAnalysis/gender_submission.csv'
gender = pd.read_csv(gender_path)
gender.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [14]:
gender.columns

Index(['PassengerId', 'Survived'], dtype='object')

In [26]:
train_path = 'F:/Know_I/DataAndAnalysis/train.csv'
train = pd.read_csv(train_path, engine='python')
train.describe()
test_path = 'F:/Know_I/DataAndAnalysis/test.csv'
test = pd.read_csv(test_path, engine ='python')

In [24]:
train.info()
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
train.isnull().values.any() #check nAn for entire data frame

True

In [23]:
train.isnull().sum() #shows number of nAn in every column

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [27]:
train.isnull().sum().sum() #shows total number of nAn in the data frame

866

In [38]:
train['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [42]:
train['Age'].fillna(29.699118, inplace=True)

In [44]:
train['Age'].isnull().any()

False

In [31]:
train['Cabin'].describe()

count             204
unique            147
top       C23 C25 C27
freq                4
Name: Cabin, dtype: object

In [39]:
train['Cabin'].fillna("C25", inplace=True)

In [89]:
train['Cabin'].head()

0     C25
1     C85
2     C25
3    C123
4     C25
Name: Cabin, dtype: object

In [91]:
encode_cabin = preprocessing.OrdinalEncoder()
cabin = np.array(train['Cabin'])
cabin = cabin.reshape(-1, 1)
encode_cabin.fit(cabin)

OrdinalEncoder()

In [45]:
train['Embarked'].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [46]:
train['Embarked'].fillna("S", inplace=True)

In [48]:
train['Embarked'].head()

0    S
1    C
2    S
3    S
4    S
Name: Embarked, dtype: object

In [50]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [67]:
train_features = ['Sex', 'Age', 'Fare', 'Cabin', 'Embarked']
X = train[train_features]

In [93]:
X.head()

      Sex   Age     Fare Cabin Embarked
0    male  22.0   7.2500   C25        S
1  female  38.0  71.2833   C85        C
2  female  26.0   7.9250   C25        S
3  female  35.0  53.1000  C123        S
4    male  35.0   8.0500   C25        S

In [69]:
label = 'Survived'
y = train[label]

In [70]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [100]:
encode_sex = preprocessing.OrdinalEncoder()
sex = np.array(train['Sex'])
sex = sex.reshape(-1, 1)
encode_sex.fit(sex);

In [71]:
train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=1)

In [102]:
forest = RandomForestClassifier(random_state=1)
forest.fit(train_X, train_y)

ValueError: could not convert string to float: 'male'